<% provide(:title, t("index_title")) %>
<h1><%= t "index_title" %></h1>
<p>
  <%= t "content.home.intro" %>
  <%= link_to (raw t("content.home.raw_link")), t("link_pages.homepage") %>
  <%= t "content.home.end" %>
</p>
